@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Poppins&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: 'Marcellus', serif;
  ;
}

text {
  font-family: 'Poppins', sans-serif;
  ;
  color: "#666666";
}

p {
  font-family: 'Poppins', sans-serif;
  ;
  color: "#666666";
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size .3s ease-in-out;
}

.link-underline-active {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
  background-size: 100% 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size .3s ease-in-out;
}

.link-underline-black {
  background-image: white
}

.link-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%
}

.link-underline-drawer {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#133363, #133363);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size .3s ease-in-out;
}

.link-underline-active-drawer {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#133363, #133363);
  background-size: 100% 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size .3s ease-in-out;
}

.link-underline-black-drawer {
  background-image: #133363
}

.link-underline-drawer:hover {
  background-size: 100% 3px;
  background-position: 0 100%
}

.home {
  background: linear-gradient(89.73deg, #283F63 3.54%, rgba(32, 55, 90, 0.65) 50.71%, rgba(10, 22, 41, 0.16) 99.87%);
  background-size: cover;
  background-repeat: no-repeat;
}

.quote {
  background: linear-gradient(89.73deg, #283F63 3.54%, rgba(32, 55, 90, 0.65) 50.71%, rgba(10, 22, 41, 0.16) 99.87%), url('../assets/thumbnail1.png');
  background-size: cover;
  background-repeat: no-repeat;
}

/* Scroll Bar */
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background: none;
  display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


/* carousel */
.swiper {
  width: 100%;
  height: auto;
}

.swiper-button-next {
  background-image: url(../assets/buttonNext.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper-button-next::after {
  display: none;
}

.swiper-button-prev {
  background-image: url(../assets/buttonPrev.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper-button-prev::after {
  display: none;
}